/src/config/*
!/src/config/development.example.js
!/src/config/production.example.js
!/src/config/index.js
!/src/config/Readme.md

deploy.guide

node_modules

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.lock-wscript
*.tsbuildinfo
.npm
.eslintcache
sessions.json
dist
.vscode
